/* Card Component */

.card {
	background-color: var(--pico-card-background-color, #ffffff);
    color: var(--pico-color, #373c44);
    border: 1px solid var(--pico-muted-border-color, #e7eaf0);
  max-width: 600px;
  margin: 0 auto 20px;
  padding: 20px;
  border-radius: 15px;
}